<div class="qa-bg-section">
    <div class="container">
        <div class="row">
            <div id="qa-features-2">
                <div class="col-feature-9">
                    <div class="row">
                        <div class="col-md-12 qa-heading">
                            <h2>轻 — 何止声音</h2>
                            <p>秉承SoarTeam开源开放，贡献共享的理念，聆听我们的音乐从不收费<br>
                                音乐是全人类共享的心灵之水，我们认为音乐没有界限，没有独家授权<br>
                                加入到开源音乐项目中，为开放世界做一份力所能及的事</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-md-pull-2 col-sm-pull-2">
                            <div class="feature-image">
                                <img alt="Q-Audio" src="/medias/Q-Audio.png">
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <div class="feature-left">
                                <div class="feature-copy">
                                    <h3>包容一切</h3>
                                    <p>我们会认真聆听每一个创作<br>
                                        如果你也倾注心灵去完成她</p>
                                </div>
                            </div>

                            <div class="feature-left">
                                <div class="feature-copy">
                                    <h3>开放共享</h3>
                                    <p>我们会有选择性的公开工程文件<br>
                                        在我们的开源音乐平台上</p>
                                </div>
                            </div>

                            <div class="feature-left">
                                <div class="feature-copy">
                                    <h3>严于律己</h3>
                                    <p>我们绝对不允许有任何的抄袭套作<br>
                                        确保每一份作品都有授权可查</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-feature-3">
                    <div class="qa-bg qa-counter" id="qa-counter">
                        <div class="row">
                            <div class="display-t">
                                <div class="display-tc">
                                    <div class="col-md-12">
                                        <div class="feature-center">
                                            <span class="counter">25</span>
                                            <span class="counter-label">原创数量</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="feature-center">
                                            <span class="counter">30</span>
                                            <span class="counter-label">单曲数量</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="feature-center">
                                            <span class="counter">5</span>
                                            <span class="counter-label">常驻音乐人</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="feature-center">
                                            <span class="counter">3</span>
                                            <span class="counter-label">正在创作</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
